<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.xit0c.mapboxpluginoffline">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name="io.github.xit0c.mapboxpluginoffline.OfflineService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>